{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Login
{% endblock title %}

{% block content %}
    {% include 'header.html' %}
    <div class="container pt-4 my-4 border">
        <h1>Access the system</h1>
        <form method="post">{% csrf_token %}
            <div class="col">
                {{ form | crispy }}
            </div>
            <div class="float">
                <button type="submit" class="btn btn-info">Login</button>
            </div>
        </form>
    </div>
 {% endblock content %}