{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Register
{% endblock title %}

{% block content %}
    {% include 'header.html' %}
    <div class="container pt-3 my-3 border">
        <h1>Register new user</h1>
        <form method="POST" >{% csrf_token %}
            <div class="col">
                {{ form | crispy }} 
            </div>
                      
            <div class="float-right">
                <button type="submit" class="btn btn-info">Register</button>
            </div>
            
        </form>
    </div>
{% endblock content %}
        
